[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
panda = "*"
beautifulsoup4 = "*"
pandas = "*"
nltk = "*"
matplotlib = "*"
soup = "*"
requests = "*"

[requires]
python_version = "3.6"
